<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible"
        content="IE=edge">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
        href="/static/css/style.css">
    <title>emo dek</title>
</head>

<body>
    <div class="Header">
        <div class="logo">
            <img src="/static/images/logo.png"  alt="teri maa">
        </div>
        <div class="aboutb">
            <ul>
                <li><a href="/"><strong> Home </strong></a></li>
                <li><a href="/about"><strong>About Us</strong></a></li>
            </ul>
        </div>
        <div class="icons">
            <ul>
                <li><img src="/static/images/vitb.png"  alt="teri maa"></li>
            </ul>
        </div>
    </div>
    <div class="form-box2">
        <div class="wrapper">
            <h1>About Emotion Detector</h1>
            <p>Welcome to Emotion Detector, your go-to source for understanding human emotions through facial
            recognition technology.</p>
        </div>
        <div class="wrapper">
            <h2>Our Mission</h2>
            <p>Our mission is to provide a powerful and intuitive platform that allows you to explore and analyze
                emotions expressed by individuals in photographs or real-time video streams. Whether you are a
                researcher, developer, or simply curious about the fascinating world of facial emotions, we've got
                you covered.</p>
        </div>
        <div class="wrapper">
            <h2>How It Works</h2>
            <p>Emotion Detector leverages state-of-the-art machine learning and computer vision techniques to
                accurately identify and analyze facial expressions. Our algorithms can detect a wide range of
                emotions, including happiness, sadness, anger, surprise, and more.</p>
            </div>
        <div class="wrapper">
            <<h2>Features</h2>
                <h3>Real-time Analysis:</h3>
                <p> our webcam integration to analyze emotions in
                    real-time.</p>
                <h3>Photo Analysis:</h3><p> Upload photos to assess the emotions expressed in static
                    images.</p>
                <h3>Emotion History:</h3><p> Track and visualize emotional trends over time.</p>
                <h3>Developer-Friendly:</h3><p> Access our API to integrate emotion detection into your
                    applications.</p>
            </ul>
        </div>
        <div class="wrapper">
            <h2>Why Emotions Matter</h2>
            <p>Understanding emotions is crucial in various fields, from psychology and healthcare to marketing and
                entertainment. Emotion Detector can help you gain insights into how people react to different
                situations and stimuli, allowing for more informed decision-making and tailored experiences.</p>
        </div> 
         
</body>

</html>